<!DOCTYPE html>
<html lang="en-US">
     <head> 
       <meta charset = "utf-8">
       <title> Weather Application</title>
       <link rel="stylesheet" href= "{{url_for( 'static', filename='style.css')}}">
    </head>
    <body>
      <div class="container"> 
        <main>
         <h1>Your Weather Report is Below: </h1>
         <img src="https://scx1.b-cdn.net/csz/news/800a/2019/weatherforec.jpg" 
        alt="Weather" width="200" height ="100">
        <h2>The current temperature in {{city}}:</h2>
        <p>Temperature in Celsius: {{celsius}}</p>
        <p>Temperature in Farenheit: {{farenheit}}</p> 
        <p>Weather Description: {{weatherDescription}}</p>
       </main>
        <hr>
      <footer>
        <p">Click here to go back to the <a href="/">Home Page</a>!</p>
      </footer>
   </div>
  </body>
</html>